@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    /* Stores custom color pallete variables */
    --off-black: rgb(41, 41, 41);
    --off-white: rgb(244, 244, 244);
    --dark-green: #214E34;
    --light-green: #5C7457;
    --grey: #979B8D;
    --tan: #C1BCAC;
    --pink: #EFD0CA;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.back {
    background-color: var(--off-black);

    flex: 1;
    display: flex;
    flex-direction: column;

    height: 600px;
    max-width: 425px;

    padding: 20px 0;

    border: 2px solid black;
    border-radius: 8px;
}

.screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.results, .history {
    color: var(--off-white);
}

.results {
    margin: 0 40px 20px 0;
    
    font-size: 60px;
}

.history {
    margin: 0 40px;
}


button {
    flex: 0;
    transition: all .1s ease-in-out;
    
    background-color: var(--tan);
    
    border: none;
    border-radius: 12px;
    
    margin: 0 10px;
    
    width: 70px;
    height: 70px;
    
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: var(--off-white);
}

/* Makes button grow a little and become brighter when hovered over*/
button:hover {
    filter: brightness(105%);
    transform: scale(1.015);
}

/* Makes button shrink and get darker when pressed down*/
button:active {
    filter: brightness(80%);
    transform: scale(0.975);
}

.number, .decimal {
    background-color: var(--grey);
}

.operator {
    background-color: var(--light-green);
}

.zero {
    width: 160px;
}

.buttons {
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    margin: 10px 0;
}
